<main>
    .
    <section>
        <div class="content">
            <div class="search">
                    <mat-form-field appearance="outline" class="search-area">
                        <mat-label>O que zerou hoje? :)</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
            </div>

            <!-- <div *ngFor="let game of games" >
                <div *ngIf="game.name && game.appid">

                </div>
            </div> -->
            <app-game-card></app-game-card>
            <app-game-card></app-game-card>
            <app-game-card></app-game-card>
        </div>
    </section>
</main>