.card {
    margin: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    color: #ced1d0;
}

.game {
    width: 300px;
    background-color: #2d343c;
    border-radius: 10px;
    box-shadow: 1px 0px 10px #000;
    transition-duration: 200ms;
    margin: 20px;
}

.game:hover {
    transition-duration: 200ms;
    box-shadow: 0px 0px 15px #000;
}

mat-card {
    margin: 0;
}

mat-card-title{
    font-weight: 500;
}

.content {
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
text-align: justify;
font-family: 'Bungee', sans-serif;
font-weight: 300;
}

.game-i {
    width: 300px;
    height: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -16px;
}

.game-i:hover {
    box-shadow: inset 0 0 10px #f8a100;
    cursor: pointer;
}

.game-i-mini {
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

mat-divider {
    background-color: #818181;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
}